* {box-sizing: border-box;}

.m2{
    width: 730px !important;
}

@media (max-width: 750px){
    .modal-content{
        margin-right:calc(50% - 365px) !important;
    }
}


#cielo{
    display: inline-block;
    z-index: 0;
    background-color: #BEF1FA;
    width: calc(100% - 400px);
    height: 100%;
    position:absolute;
    top: 0px;
}
#planta{
    position: fixed;
    bottom: 20px;
    left: calc(50% + 200px);
    height: 50px;
    z-index: 6;
    cursor: zoom-in;
}
.img-zoom-lens {
    position:fixed;
    top:-40px;
    left:0px;
    /* border: 1px solid #d4d4d4; */
    /*set the size of the lens:*/
    width: 30px;
    height: 30px;
    }
#visor{
    position: fixed;
    z-index: 7;
    bottom: 5px;
    left: 405px;
    width: 200px;
    height: 200px;
    background-color: #BEF1FA;
    border-radius: 100px;
    border: gray 1px solid;

}
#tierra{
    position: fixed;
    bottom: 0px;
    left: 400px;
    width: calc(100% - 400px);
    height: 30;
    background-repeat: repeat;
    background-image: url("../imagenes/tierra.png");
    
}

#randomB{
    display: none;
}
body{
    margin:0px;
    /* background-color: #79E2F5; */
    background-color: white;
}
#titulo{
    text-align: center;
    font-size: 40px;
    color:black;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 18px;
}

.subtitulo{
    color:black;
    background-color: rgb(0,0,0,0.2);  
    /* color: rgb(255,2555,255,0.8); */
    font-weight: bolder;
    text-align: center;
    font-size: 23px;
}

.contenido{
    color:black;
    background-color: rgb(0,0,0,0.1); 
    font-weight: bolder;
    font-size: 18px;
    padding: 10px;
    padding-left: 20px !important;

}

.p-b-10{
    padding-bottom: 10px !important;
}

.m-b-10{
    margin-bottom: 10px !important;
}

#mes{
    font-family: 'Archivo Black', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    position: fixed;
    top: 0px;
    right: 5px;
    z-index: 3;

}
#datos{
    width: 400px;
    height:100%;
    z-index: 2 !important;
    display: inline-block;
    background-color: rgb(0,0,0,0.2);  
}

.center{
    text-align: center !important;
}

.accionesBtns{
    width: 185px; 
    display:inline-block;
}